:host {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.example-spacer {
  flex: 1 1 auto;
}


//列表结束

#main {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100%;
  // 左侧
  #left {
    height: 100%;
    display: flex;
    flex-direction: column;

    // 搜索栏开始

    > form {
      width: 100%;

      mat-form-field {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
    }

    // 搜索栏结束

    > mat-selection-list {
      flex-grow: 1;
      width: 360px;
      padding-top: initial;

      cdk-virtual-scroll-viewport {
        height: 100%;

        ::ng-deep .cdk-virtual-scroll-content-wrapper {
          width: 100%;

          //列表开始
          mat-list-option {
            height: 40px;

            [matListItemIcon] {
              margin-right: 12px;
            }
          }
        }

        .line {
          display: flex;

          > .title {
            flex: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-right: 8px;
          }

          > .version {
            flex: 0;
          }
        }
      }
    }

    #status-left {
      padding: 0 12px;
      display: flex;
      line-height: 40px;
      background-color: #fafafa;

      > span {
        padding: 0 12px;
      }

      > button {
        width: 40px;
        height: 40px;
        padding: 8px;
      }
    }
  }

  // 右侧
  #right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    #info {
      flex: 1;
      background-color: #fafafa;
      overflow-y: auto;

      #meta {
        line-height: 1.8;

        h2 {
          font-size: 20px;
          margin-bottom: 0.2em;
        }

        > span, > a {
          display: block;
        }

        > a {
          text-decoration: none;
        }

        #asset-store-logo {
          border: 1px solid black;
          padding: 0 3px;
          margin-left: 16px;
        }
      }

      #description {
        background-color: #ddd;
      }

      #package {
        background-color: #eee;
      }

      > dl {
        margin: 0;
      }

      .box {
        padding: 20px;
      }
    }

    #status-right {
      display: flex;
      height: 40px;
      align-items: center;
      margin-right: 12px;

      mat-progress-bar {
        margin: 8px;
        --mdc-linear-progress-track-height: 24px;

        &::after {
          content: attr(data-progress);
          position: absolute;
          left: 0;
          right: 0;
          text-align: center;
          color: white;
          line-height: 24px;
        }
      }

      button {
        height: 28px;
        line-height: 1;
        margin: 0 4px;
      }
    }
  }
}

