<!--<img src="assets/logo.webp">-->
<mat-card class="mat-elevation-z2">
  <mat-card-content>
    <form #settingForm="ngForm" (ngSubmit)="submit()">
      <h2>qb设置</h2>
      <mat-form-field>
        <mat-label>远程qb地址</mat-label>
        <input matInput name="qb_url" [(ngModel)]="qbInfo.qb_url">
      </mat-form-field>
      <mat-form-field>
        <mat-label>用户名</mat-label>
        <input matInput name="username" [(ngModel)]="qbInfo.username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>密码</mat-label>
        <input matInput name="password" type="password" [(ngModel)]="qbInfo.password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>取回协议</mat-label>
        <input matInput name="downloads" [(ngModel)]="qbInfo.get_protocol" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>取回url</mat-label>
        <input matInput name="smb_get_url" [(ngModel)]="smbConfig.get_url" [get_url]="smbConfig.get_url" #smb_get_url = "ngModel">
        <mat-error *ngIf="smb_get_url.errors?.['smb_get_url']">格式不正确</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>ssh用户名</mat-label>
        <input matInput name="ssh_username" [(ngModel)]="sshConfig.username" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>ssh路径</mat-label>
        <input matInput name="ssh_path" [(ngModel)]="sshConfig.remotePath" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>私钥路径</mat-label>
        <input matInput name="private_key" [(ngModel)]="sshConfig.privateKeyPath" >
      </mat-form-field>
      <button mat-raised-button color="primary"  [disabled]="!settingForm.form.valid">确定</button>
    </form>
  </mat-card-content>
</mat-card>
