<!--<img src="assets/logo.webp">-->

<div class="bgc mat-elevation-z3">
  <!--  <mat-card-content>-->
  <form #settingForm="ngForm" (ngSubmit)="submit()">
    <h2>设置</h2>
    <div class="title-right">
      <hr class="hr-solid">
    </div>
    <!--表单样式-->
    <div class="row">
      <div class="lab">qb地址</div>
      <input class="inputs" name="qb_url" [(ngModel)]="qbConfig.qb_url" (ngModelChange)="onInputChange()">
    </div>
    <div class="row">
      <div class="lab">用户名</div>
      <input class="inputs" name="username" [(ngModel)]="qbConfig.username">
    </div>
    <div class="row">
      <div class="lab">密码</div>
      <input class="inputs" name="password" type="password" [(ngModel)]="qbConfig.password">
    </div>

    <div class="row">
      <div class="lab">容器内目录</div>
      <input  class="inputs" name="save_path" [(ngModel)]="qbConfig.save_path">
    </div>
    <div class="row" *ngIf="qbConfig.protocol != 'local'">
      <div class='lab'>
        本地路径
      </div>
      <input class="inputs" name="local_path" [(ngModel)]="qbConfig.local_path">
    </div>

    <div class="row">
      <div class="lab">取回协议</div>
      <select class="left" name="downloads" [(ngModel)]="qbConfig.protocol" required>
        <option value="local" *ngIf="localQb()">local</option>
        <option value="sftp" *ngIf="!localQb()">sftp</option>
        <option value="smb" *ngIf="!localQb()">smb</option>
        <option value="webdav" *ngIf="!localQb()">webdav</option>
      </select>
    </div>
    <div class="row" *ngIf="qbConfig.protocol=='sftp'">
      <div class="lab"  >ssh用户名</div>
      <input class="inputs" name="ssh_username" [(ngModel)]="sshConfig.username">
    </div>
    <div class="row" *ngIf="qbConfig.protocol=='sftp'">
      <div class="lab" >远端路径</div>
      <input class="inputs" name="remote_path" [(ngModel)]="sshConfig.remotePath">
    </div>
    <div class="row" *ngIf="qbConfig.protocol == 'webdav'">
      <div class="lab" >用户名</div>
      <input class="inputs" name="webdav_username" [(ngModel)]="httpConfig.username">
    </div>
    <div class="row" *ngIf="qbConfig.protocol == 'webdav'">
      <div class="lab" >密码</div>
      <input class="inputs"  type='password' name="webdav_password" [(ngModel)]="httpConfig.password">
    </div>
    <div class="row" *ngIf="qbConfig.protocol == 'webdav'">
      <div class="lab" >远端路径</div>
      <input class="inputs" name="remote_path" [(ngModel)]="httpConfig.remotePath">
    </div>

    <div class="row" *ngIf="qbConfig.protocol=='sftp'">
      <div class="lab"  >私钥路径</div>
      <input class="inputs" name="private_key" [(ngModel)]="sshConfig.privateKeyPath">
    </div>
    <div class="row" *ngIf="qbConfig.protocol == 'smb'">
      <div class="lab" >用户名</div>
      <input class="inputs" name="smb_username" [(ngModel)]="smbConfig.username">
    </div>
    <div class="row" *ngIf="qbConfig.protocol == 'smb'">
      <div class="lab" >密码</div>
      <input class="inputs"  type='password' name="smb_password" [(ngModel)]="smbConfig.password">
    </div>
    <div class="row" *ngIf="qbConfig.protocol=='smb'" >
      <div class="lab" >smb路径</div>
      <input class="right" name="remote_path" [(ngModel)]="smbConfig.remotePath" >
    </div>
    <div class="btn">
      <button mat-raised-button color="primary" [disabled]="!settingForm.form.valid">确定</button>
    </div>
  </form>
  <!--  </mat-card-content>-->
</div>
