<!--<img src="assets/logo.webp">-->

<div class='bgc mat-elevation-z3'>
  <!--  <mat-card-content>-->
  <form #settingForm='ngForm' (ngSubmit)='submit()'>
    <h2>设置</h2>
    <div class='title-right'>
      <hr class='hr-solid'>
    </div>
    <div class='row'>
      <div class='lab'>qb方式</div>
      <mat-radio-group [(ngModel)]='qbConfig.qb_location' (ngModelChange) ='locationChange()' name='qb_location' required>
        <mat-radio-button color='primary' value='local' >本地</mat-radio-button>
        <mat-radio-button color='primary' value='remote' >远程</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class='row'>
      <div class='lab'>qb地址</div>
      <input class='inputs' name='qb_url'   [(ngModel)]='qbConfig.qb_url' (blur)="onBlur('qb_url')">
<!--      <mat-error *ngIf='qb_url_err==true'>qb方式与地址不符</mat-error>-->
      <mat-hint>填写qbittorrent WebUI中的地址，以http://开头，本地qbittorrent为http://localhost:8080，远程qb请自行填写
      </mat-hint>
    </div>
    <div class='row'>
      <div class='lab'>用户名</div>
      <input class='inputs' name='username' [(ngModel)]='qbConfig.username'>
      <mat-hint>填写qbittorrent WebUI中的用户名，如果您没有手动修改过应该是admin，可以同时修改两者但必须保持一致
      </mat-hint>
    </div>
    <div class='row'>
      <div class='lab'>密码</div>
      <input class='inputs' name='password' type='password' [(ngModel)]='qbConfig.password'>
      <mat-hint>填写qbittorrent WebUI中的密码，如果您没有手动修改过应该是adminadmin，可以同时修改两者但必须保持一致
      </mat-hint>
    </div>

    <div class='row'>
      <div class='lab'>保存目录</div>
      <input class='inputs' name='save_path' [(ngModel)]='qbConfig.save_path' (blur)="onBlur('save_path')">
      <mat-hint>填写qbittorrent WebUI中的默认保存路径，注意如果是winOS路径需要使用"\"，可以同时修改两者但必须保持一致
      </mat-hint>
    </div>

    <div class='row' *ngIf="qbConfig.qb_location == 'remote'">
      <div class='lab' id='protocol_label'>传输协议</div>
      <mat-radio-group [(ngModel)]='qbConfig.protocol' name='protocol' required>
        <mat-radio-button color='primary' value='sftp'>sftp</mat-radio-button>
        <mat-radio-button color='primary' value='smb'>smb</mat-radio-button>
        <mat-radio-button color='primary' value='webdav'>webdav</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class='row' *ngIf="qbConfig.qb_location == 'remote' && qbConfig.protocol == 'webdav'||qbConfig.protocol == 'sftp'">
      <div class='lab'>本地保存目录</div>
      <input class='inputs' name='local_path' [(ngModel)]='qbConfig.local_path' (blur)="onBlur('local_path')">
      <mat-hint>填写本地保存资源文件的路径，注意如果是winOS路径需要使用"\"</mat-hint>
    </div>

    <div class='row' *ngIf="qbConfig.qb_location== 'remote' && qbConfig.protocol == 'sftp'">
      <div class='lab' id='auth_label'>ssh认证方式</div>
      <mat-radio-group [(ngModel)]='sshConfig.auth' name='ssh_auth' required>
        <mat-radio-button color='primary' value='password'>密码</mat-radio-button>
        <mat-radio-button color='primary' value='key'>私钥</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class='row' *ngIf="qbConfig.qb_location == 'remote' && qbConfig.protocol=='sftp'">
      <div class='lab'>ssh用户名</div>
      <input class='inputs' name='ssh_username' [(ngModel)]='sshConfig.username'>
    </div>
    <div class='row' *ngIf="qbConfig.qb_location == 'remote' && qbConfig.protocol=='sftp'">
      <div class='lab'>远端保存目录</div>
      <input class='inputs' name='remote_path' [(ngModel)]='sshConfig.remotePath' (blur)="onBlur('sftp_remote_path')">
      <mat-hint>填写ssh server和远端保存资源的绝对目录，例如 0.0.0.1:22:/data/exampleDir，其中的端口号可以省略，默认为22
      </mat-hint>
    </div>
    <div class='row' *ngIf="qbConfig.qb_location == 'remote' && qbConfig.protocol=='sftp'&& sshConfig.auth == 'password'">
      <div class='lab'>ssh密码</div>
      <input class='inputs' type='password' name='ssh_password' [(ngModel)]='sshConfig.username'>
    </div>
    <div class='row' *ngIf="qbConfig.qb_location == 'remote' && qbConfig.protocol=='sftp' &&sshConfig.auth == 'key'">
      <div class='lab'>私钥路径</div>
      <input class='inputs' name='private_key' [(ngModel)]='sshConfig.privateKeyPath' (blur)="onBlur('private_key')">
      <mat-hint>访问ssh所需私钥的绝对路径</mat-hint>
    </div>
    <div class='row' *ngIf="qbConfig.qb_location == 'remote' && qbConfig.protocol == 'webdav'">
      <div class='lab'>用户名</div>
      <input class='inputs' name='webdav_username' [(ngModel)]='httpConfig.username'>
    </div>
    <div class='row' *ngIf="qbConfig.qb_location == 'remote' && qbConfig.protocol == 'webdav'">
      <div class='lab'>密码</div>
      <input class='inputs' type='password' name='webdav_password' [(ngModel)]='httpConfig.password'>
    </div>
    <div class='row' *ngIf="qbConfig.qb_location == 'remote' && qbConfig.protocol == 'webdav'">
      <div class='lab'>远端保存目录</div>
      <input class='inputs' name='webdav_remote_path' [(ngModel)]='httpConfig.remotePath'
             (blur)="onBlur('webdav_remote_path')">
      <mat-hint>webdav的远端路径，例如http://0.0.0.1:7000</mat-hint>
    </div>

    <div class='row' *ngIf="qbConfig.qb_location == 'remote' && qbConfig.protocol=='smb'">
      <div class='lab'>smb路径</div>
      <input class='inputs' name='smb_remote_path' [(ngModel)]='smbConfig.remotePath'
             (blur)="onBlur('smb_remote_path')">
      <mat-hint>winOS填写格式为 \\sever\shared， macOS填写格式为smb://server/shared</mat-hint>
    </div>
    <div class='btn'>
      <button mat-raised-button color='primary' type='button' (click)='connectTest()'>连接测试</button>
      <button mat-raised-button color='primary'  [disabled]='!settingForm.form.valid'>确定</button>
    </div>
  </form>
  <!--  </mat-card-content>-->
</div>
