:host {
  //background-color: #fafafa;
  position: relative;
  display: block;
  height: 100%;
  overflow: auto;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

tr {
  height: 40px !important;
}
