:host {
  //background-color: #fafafa;
  position: relative;
  display: block;
  height: 100%;
  overflow: auto;
}

.card-container {
  justify-content: center;
}

mat-card{
  padding: 0px;
}

mat-card-content {
  background: #212121;
  width: 200px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.btn_label {
  border: none;
  background: deepskyblue;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

mat-card:hover{
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

tr {
  height: 40px !important;
}

input[type="file"] {
  display: none;
}

#remotepublish{
  display: none;
}


mat-spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-container {
  display: flex;
  margin: auto;
}

