:host {
  //background-color: #fafafa;
  position: relative;
  display: block;
  height: 100%;
  overflow: auto;
}

mat-card {
  max-width: 400px;
  text-align: center;
}

mat-card:hover{
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

tr {
  height: 40px !important;
}

input[type="file"] {
  display: none;
}

mat-spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-container {
  display: flex;
  margin: auto;
}

//font-family: Montserrat,Segoe UI,sans-serif;
//line-height: 1.5em;
//font-size: 16px;
//-webkit-tap-highlight-color: rgba(0,0,0,0);
//-webkit-user-drag: none;
//font-weight: 400;
//outline: none;
//touch-action: manipulation;
//vertical-align: top;
//box-sizing: border-box;
//margin-top: 20px!important;
//display: flex;
//flex-direction: row;
//flex-wrap: wrap;
//gap: 20px;
//justify-content: center;
//margin-bottom: 30px;
