name: Build/release

on: push

jobs:
  release:
    strategy:
      matrix:
        os: [ windows-latest,macOS-latest,ubuntu-latest ]
    runs-on:
#      - self-hosted
      - ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - run: |
          echo "CSC_LINK=${{secrets.MACOS_CSC_LINK}}" >> $GITHUB_ENV
          echo "CSC_KEY_PASSWORD=${{secrets.MACOS_CSC_KEY_PASSWORD}}" >> $GITHUB_ENV
          echo "APPLE_ID=${{secrets.APPLE_ID}}" >> $GITHUB_ENV
          echo "APPLE_ID_PASSWORD=${{secrets.APPLE_ID_PASSWORD}}" >> $GITHUB_ENV
        if: runner.os == 'macOS'
      - run: |
          echo "TRAVIS_PULL_REQUEST=_no_notarize" >> $GITHUB_ENV
        if: runner.os == 'macOS' && github.ref_type != 'tag'
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          cache-dependency-path: |
            pt-main/package-lock.json
            pt-web/package-lock.json
      - run: |
          npm ci --prefix pt-web pt-web
          npm --prefix pt-web run build
          cp -r pt-web/dist pt-main/dist
          npm ci --prefix pt-main pt-main --no-optional
          npm --prefix pt-main run dist
        env:
          CI_BUILD_TAG: ${{ github.ref_type == 'tag' && github.ref_name || '' }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
